@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First MVC App</h1>
    <p><a href="/helloworld" target="_blank">HelloWorld</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movies" target="_blank">Movie</a></p>
</div>
